.list {
	width: 100%;
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
	/* set grid clomun to 6 in pc, 4 in tablet, 2 in lower screen */
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}
.card {
	display: flex;
	flex-direction: row;
	/* height: 256px; */
	height: 12rem;
	gap: 0.5rem;
	background-color: #fff;
	box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	width: 100%;
}
.img-container {
	min-width: 8.5714rem;
	height: 100%;
	overflow: hidden;
	border-radius: 0.5rem;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.6rem;
}
